<div class="hony-field">
  <%= image_tag("honey-back.jpg", class:"honey-back") %>
  <div class="sign-field">
    <div class="BeeYourBest-icon">
      <%= link_to image_tag("BeeYourBest_背景透明.png", class:"BeeYourBestBee-icon"), "/" %>
    </div>
    <div class="main-name">
      タスクの登録！
    </div>

    <div class="registration-main">
      <div class='form-wrap5'>

        <%= form_with(model: [@goal, @task], url: goal_tasks_path(params[:goal_id]), method: :post, id: "form", local: true) do |f| %>
          <div class="task-form">
            <div class="form-group5">
              <div class='form-text-wrap'>
                <label class="form-text">
                  <p>・目標を細かくしたタスクで、「やることリスト」を作ろう！</p>
                  <p>・まずは次にやるタスクを作ろう！　作ったらその次にやるタスクを作ろう！</p>
                  <p>・例）　①「お米を炊く」、②「おかずを作る」、③「お弁当に入れる」</p>
                </label>
              </div>
              <%= f.text_field :content, class:"input-default", id:"content", placeholder:"新しいタスクを入力する", maxlength:"30", autofocus: true %>
            </div>
            <%= f.submit '作成',class: "task-submit", id: "task-submit" %>
          </div>
        <% end %>

        <div class="form-top5">

          <div class="form-left5">
            <div class="task-field">
              <div class="task-main-todo">
                やることリスト！
              </div>
              <% @tasks.each do |t| %>
                <div class="task-content">
                  <%= t.content %>
                  <div class="task-delete">
                    <%= link_to "削除", goal_task_path(params[:goal_id], t.id), method: :delete, class: "task-submit" %>
                  </div>
                </div>
              <% end %>
              <div id="list">
              </div>
            </div>
          </div>

          <div class="form-middle5">
            <div class="task-field">
              <div class="task-main-todo">
                完了したこと
              </div>
            </div>
            <div class="balloon2">
              <p>後で、タスクが終わる度に、終わったタスクを「完了したこと」に移動させてね！</p>
              <p>今は移動できないよ！</p>
              <br>
              <p>タスクが完了する度に、達成率が上がるよ！</p>
              <p>100% を目指そう！！</p>
            </div>
            <div class="Bee-icon-right">
              <%= image_tag "125012.png", class:"Bee-icon" %>
            </div>
          </div>

          <div class="form-right5">
            <div class="bou-index" >
              <div class="holder<%= @goal.id %>">
                <style>
                  <%= ".holder#{@goal.id}" %> {
                    width: 100%;
                    height: <%= @goal.achievement %>%;
                    position: relative;
                    z-index: 1;
                  }
                </style>
                <div class="first"></div>
                <div class="second"></div>
                <div class="third"></div>
              </div>
            </div>
            <div class="achievement">
              達成率
              <span>
                <%= @goal.achievement %>
              </span>
              %
            </div>
          </div>

        </div>

        <div class="form-bottom5">
          <%= link_to '入力完了！', "/", class:"btn btn-border-shadow btn-border-shadow--radius" %>
        </div>

      </div>
    </div>
  </div>
</div>