<% if user_signed_in? && goal.user.id != current_user.id %>
    <% if goal.liked_by?(current_user) %>
        <div class="like-num-count" >いいネ！！： </div>
        <div class="like-num"><%= goal.likes.count %></div>
        <%= link_to "♥", goal_like_path(goal.id, current_user.id), method: :delete, class:"like-heart", remote: true %>
    <% else %>
        <div class="like-num-count" >応援する！： </div>
        <div class="like-num"><%= goal.likes.count %></div>
        <%= link_to "♡", goal_likes_path(goal.id,), method: :post, class:"like-heart", remote: true %>
    <% end %>
<% else %>
    <div class="like-num-count2" >いいネ！！： </div>
    <div class="like-num"><%= goal.likes.count %></div>
    <%= image_tag "125012.png", class:"like-Bee-icon" %>
<% end %>