<div class="hony-field">
  <%= image_tag("honey-back.jpg", class:"honey-back") %>
  <div class="sign-field">
    <div class="BeeYourBest-icon">
      <%= link_to image_tag("BeeYourBest_背景透明.png", class:"BeeYourBestBee-icon"), "/" %>
    </div>
    <div class="registration">
      目標の編集
    </div>

    <%= form_with model: @goal, class: 'registration-main', local: true do |f| %>
    <div class='form-wrap4'>

      <div class="form-top4">
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">目標</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :targetm, class:"input-default", id:"targetm", placeholder:"例) 新しいプログラミング言語を学習する", maxlength:"42", autofocus: true %>
        </div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">理由</label>
            <span class="indispensable">任意</span>
          </div>
          <%= f.text_area :reason, class:"form-explanation", id:"reason", placeholder:"（任意 200文字まで）　次に作るアプリに新しいプログラミング言語が必要なため頑張って覚えたい！" ,rows:"5" ,maxlength:"200" %>
        </div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">この日までに終わらせる！！</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.datetime_field :time, class:"input-default", id:"time", min: Date.current %>
          <p class="counter", id ="counter"></p>
        </div>

          <div class="form-group">
            <div class='form-text-wrap'>
              <%= render 'shared/error_messages', model: f.object %>
            </div>
          </div>

      </div>

      <div class="form-bottom4">
        <div class="btn btn-border-shadow btn-border-shadow--radius">
          　　　　　
          <%= f.submit "目標確定！", class:"form-submit" %>
        </div>
      </div>

    </div>
    <% end %>
  </div>
</div>