<%= render "shared/header"%>

<div class="main-goal">
  <%= image_tag("yellow-back.png", class:"left-goal")%>
  <div class="left-absolute">
    <div class="left-size">

      <% if user_signed_in? %>
        <div class="left-box">
          <p>まずは</p>
          <p>　</p>
          <p>目標を作ろう</p>
        </div>
        <%= link_to '新しく目標を作る！　　', "#", class:"btn btn-flat" %>

      <% else %>
      
        <div class="left-box">
          <p>みんなと</p>
          <p>頑張る</p>
          <p>応援サイト</p>
        </div>
        <%= link_to '今すぐ始める！　　>', new_user_registration_path, class:"btn btn-flat" %>
      <% end %>

    </div>
  </div>

  <div class="right-goal">
  </div>
</div>

<%= render "shared/footer"%>