<%= render "shared/header"%>

<div class="main-goal">
  <%= image_tag("yellow-back.png", class:"left-goal")%>
  <div class="left-absolute">
    <div class="left-size">

      <% if user_signed_in? %>

        <% if @goal.present? %>
          <div class="mygoal-field">
            <% @goal.each do |goal| %>
              <div class="goal-card">
                目標：
                <span>
                  <%= goal.target %>
                </span>
                <div id="limit" class="limit">
                  目標期日：
                  <span>
                    <%=  goal.time.strftime("%Y-%m-%d %H:%M:%S") %>
                  </span>
                </div>
                <p class="counter2", id ="counter"></p>
                <div class="likes-content-field">
                  <div class="likes-content"></div>
                  <div id="likes_buttons_<%= goal.id %>" class="likes-button">
                    <%= render partial: 'likes/like', locals: { goal: goal} %>
                  </div>
                  <div class="comment-box">
                    <%= link_to "メッセージ", goal_comments_path(goal.id), class: "task-submit" %>
                  </div>
                </div>
                <div class="bou-index-field">
                  <div class="bou-goal-field2">
                    
                    <div class="allbou-index" >
                      <%= render partial: "shared/bou", locals: { goal: goal } %>
                    </div>

                    <div class="achievement">
                      達成率
                      <span>
                        <%= goal.achievement %>
                      </span>
                      %
                    </div>
                  </div>
                </div>
                <div class="goal-btn">
                  <div class="goal-index-btn">
                    <%= link_to "目標の編集", edit_goal_path(goal.id), class: "task-submit" %>
                    <%= link_to "タスクの移動", goal_completions_path(goal.id), class: "task-submit" %>
                    <span><%= link_to "目標の削除", goal_path(goal.id), method: :delete, class: "task-submit" %></span>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
            <%= link_to '新しく目標を作る！　　', new_goal_path, class:"btn btn-flat" %>

          <% else %>
            <div class="left-box">
              <p>まずは</p>
              <p>　</p>
              <p>目標を作ろう</p>
            </div>
            <%= link_to '新しく目標を作る！　　', new_goal_path, class:"btn btn-flat" %>
          <% end %>

        <% else %>
          <div class="left-box">
            <p>みんなと</p>
            <p>頑張る</p>
            <p>応援サイト</p>
          </div>
          <%= link_to '今すぐ始める！　　>', new_user_registration_path, class:"btn btn-flat" %>
        <% end %>

    </div>
  </div>



  <div class="right-goal">
    <div class="allgoal-field">
      <% @results.each do |goal| %>

<%# トップページには5日前までのデータしか残さない %>
        <% if goal.time > DateTime.now.ago(5.day) %>
          <div class="allgoal-card">
            目標：
            <span>
              <%= goal.target %>
            </span>

            <div id="limit" class="limit">
              目標期日：
              <span>
                <%= goal.time.strftime("%Y-%m-%d %H:%M:%S") %>
              </span>

              <div class="likes-content-field">
                <div id="likes_buttons_<%= goal.id %>" class="likes-button">
                  <%= render partial: 'likes/like', locals: { goal: goal} %>
                </div>
                <div class="comment-box">
                  <%= link_to "メッセージ", goal_comments_path(goal.id), class: "task-submit" %>
                </div>
              </div>

            </div>

            <%= link_to goal_path(goal.id), class:"goal-index-path" do %>
              <div class="bou-index-field">
                <div class="bou-goal-field2">

                  <div class="allbou-index" >
                    <%= render partial: "shared/bou", locals: { goal: goal } %>
                  </div>
                  <div class="achievement">
                    達成率
                    <span>
                      <%= goal.achievement %>
                    </span>
                    %
                  </div>
                </div>
              </div>
            <% end %>

              <div class="goal-user-tag">
                <div class=goal-user-name>
                  <div>name：</div>
                  <div class="user-tag-name"><%= goal.user.nickname%></div>
                </div>
                <div class="user-tag"><%= goal.user.age.name %></div>
                <div class="user-tag"><%= goal.user.sex.name %></div>
                <div class="user-tag"><%= goal.user.profession.name %></div>
              </div>

          </div>
        <% end %>

      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer"%>